


<form #insertform="ngForm" class="box">
    <h3>Login Here</h3>
  
    <label for="username">Username</label>
    <input type="text" name ="userName"  placeholder="Email or Phone" id="username">
  
    <label for="password">Password</label>
    <input type="password" name ="password"  placeholder="Password" id="password">
  
    <a routerLink="/home" routerLinkActive="">login</a>
    <br><br>
    
      
    <div> <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">  Google</a></div>
    <br><br>
    <div class="fb"><a href="https://www.facebook.com/"> Facebook</a>
    </div>
    <br><br>
  
  <a routerLink="/signup" routerLinkActive="">dont have account</a>
  </form>
  