

  <nav class="header">
    &nbsp;&nbsp;<b style="color:white; font-style: italic;">Nature Tourism</b>
  
    <ul class="header1"> 
      <li class="header2"> <a routerLink="/home" routerLinkActive="active" class="header3">Home</a></li> &nbsp;&nbsp;
      <li class="header2"> <a routerLink = "/viewpack" routerLinkActive="active" class="header3">Packages</a></li> &nbsp;&nbsp;
      <li class="header2"> <a routerLink="/login" routerLinkActive="active" class="header3">Login</a></li> &nbsp;&nbsp;
      <li class="header2"> <a routerLink="/signup" routerLinkActive="active" class="header3">Registration</a></li> &nbsp;&nbsp;
  </ul>
  </nav>
  
  <!--img src="assets/s1.jpeg" alt="default picture" width="1183" height="490"-->

 <router-outlet></router-outlet>

 