<form>
<div class="box">
  <!--h3 class="heading">Signup</h3><hr><br-->
<div class="form">
  <div class="form-element">
  <label for="email">Email Id </label><br>
  <input type="mail" name="email" id="email" placeholder="Enter your email">
  </div><br>
  <div class="form-element">
      <label for="password">Enter your Password </label><br>
      <input type="pswd" name="password" id="password" placeholder="Enter your password">
  </div><br>
  <div class="form-element">
      <label for="password">Confirm your Password </label><br>
      <input type="pswd" name="password" id="password" placeholder="Retype your password">
  </div><br>
  <div class="form-element">
  <a routerLink="/login"routerLinkActive="active"> <input type="submit" name="submit"> <br> </a>
  </div><br>
   </div>
</div>
</form>